
<!DOCTYPE html>
<html>
    <head>
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}

        <!-- Styles block -->

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        <!-- Content block -->
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News-Highlight website </title>
        {% endif %}
    </head>
    <body>
          <!-- Content block -->
          {% block content %}

           <!-- General source -->
           <h3> General sources</h3>
           <ul>
                {{ macro.displaySourceList(general)}}
              <!-- {% for general_source in general %}
                  <li>{{general_source.name}}</li>
              {% endfor %} -->
          </ul>
  
          <!-- Sports source -->
          <h3> Sports source </h3>
           <ul>
                {{ macro.displaySourceList(sports)}}
              <!-- {% for sports_source in sports %}
                  <li>{{ sports_source.name}}</li>
              {% endfor %} -->
          </ul>
          <!-- technology source -->
          <h3>Technology Sources</h3>
           <ul>
                {{ macro.displaySourceList(technology)}}
              <!-- {% for technology_source in technology %}
                  <li>{{ technology_source.name}}</li>
              {% endfor %} -->
          </ul>
          {% endblock%} 
    </body>
</html>